@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

:root {
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

.header__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
.header__nav {
  display: none;
}

h1 {
  font-size: 48px;
  text-align: center;
  line-height: 1;
  margin-bottom: 18px;
}
.hero-section {
  color: #fff;
  background-color: var(--Dark-Violet);
  position: relative;
}
.hero-section__details {
  padding-top: 88px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.hero-section__paragraph {
  font-size: 16px;
  line-height: 1.6;
  padding: 0 10px;
  margin-bottom: 32px;
}
.hero-section__details a,
.how-we-work a {
  border: 2px solid #fff;
  color: inherit;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 6rem;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
}
.how-we-work a {
  margin-bottom: 72px;
  margin-top: 36px;
  padding: 10px 25px;
}

img[src="images/bg-pattern-intro-left-mobile.svg"],
img[src="images/bg-pattern-intro-right-mobile.svg"] {
  position: absolute;
  top: 450px;
}
img[src="images/bg-pattern-intro-right-mobile.svg"] {
  top: 800px;
  left: 250px;
}

.features-section h2 {
  text-align: center;
  font-size: 46px;
  margin-top: 2rem;
  margin-bottom: 86px;
}
hr {
  border: 1px solid #cabbca;
  margin-top: 136px;
  width: 150px;
  margin-left: 114px;
}
.features-div {
  text-align: center;
  margin-top: 73px;
}
.features-div img {
  margin-bottom: 30px;
}
.features-section h3 {
  text-align: center;
  font-size: 27px;
}
.features-div p {
  padding: 18px 26px 0;
  line-height: 1.5;
  font-size: 16px;
}

.features-div img {
  margin-bottom: 30px;
  margin-top: -14px;
}

.how-we-work {
  background-color: var(--Dark-Violet);
  color: #fff;
  text-align: center;
  margin-top: 9rem;
  padding: 2rem 1rem 0;
  width: 87%;
  margin-left: 24px;
  position: relative;
}
.how-we-work h2 {
  font-size: 38px;
  margin-top: 38px;
  line-height: 1.1;
  padding: 0 1rem;
}
.how-we-work img {
  position: absolute;
  top: 0;
  right: -1px;
}
