@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap");
:root {
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

.header__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
.hamburger-menu,
.hamburger-close {
  border: none;
  cursor: pointer;
}

.hamburger-close,
img[src="images/bg-pattern-intro-left-desktop.svg"],
img[src="images/bg-pattern-intro-right-desktop.svg"] {
  display: none;
}
.header__nav li {
  list-style: none;
  font-size: 21px;
  margin-bottom: 41px;
  text-transform: uppercase;
}
.header__nav li a {
  text-decoration: none;
  color: white;
}
.header__nav li:nth-child(3) {
  margin-bottom: 32px;
}
.header__nav li:last-child {
  padding: 14px;
  border: 2px solid #fff;
}
.header__nav {
  display: none;
  background-color: var(--Very-Dark-Violet);
  color: #fff;
  text-align: center;
  height: 100vh;
  font-size: 14px;
  padding: 44px 24px;
  letter-spacing: 2px;
  position: relative;
}
img[src="images/bg-pattern-mobile-nav.svg"] {
  position: absolute;
  top: 366px;
  right: 0;
}

h1 {
  font-size: 48px;
  text-align: center;
  line-height: 1;
  margin-bottom: 18px;
}
.h1-small-line {
  display: none;
}
.hero-section {
  color: #fff;
  background-color: var(--Dark-Violet);
  position: relative;
}

.hero-section__details {
  padding-top: 88px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.hero-section__paragraph {
  font-size: 16px;
  line-height: 1.6;
  padding: 0 10px;
  margin-bottom: 32px;
}
.hero-section__details a,
.how-we-work a {
  border: 2px solid #fff;
  color: inherit;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 6rem;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
}
.how-we-work a {
  margin-bottom: 72px;
  margin-top: 36px;
  padding: 10px 25px;
}

img[src="images/bg-pattern-intro-left-mobile.svg"],
img[src="images/bg-pattern-intro-right-mobile.svg"] {
  position: absolute;
  top: 450px;
}
img[src="images/bg-pattern-intro-right-mobile.svg"] {
  top: 800px;
  left: 250px;
}

.features-section h2 {
  text-align: center;
  font-size: 46px;
  margin-top: 2rem;
  margin-bottom: 86px;
}
.features-section hr {
  border: 1px solid #cabbca;
  margin: 0 auto;
  margin-top: 136px;
  width: 150px;
}
.features-div {
  text-align: center;
  margin-top: 73px;
}
.features-div img {
  margin-bottom: 30px;
}
.features-section h3 {
  text-align: center;
  font-size: 27px;
}
.features-div p {
  padding: 18px 26px 0;
  line-height: 1.5;
  font-size: 16px;
}

.features-div img {
  margin-bottom: 30px;
  margin-top: -14px;
}

.how-we-work {
  background-color: var(--Dark-Violet);
  color: #fff;
  text-align: center;
  margin-top: 9rem;
  padding: 2rem 1rem 0;
  width: 87%;
  margin-left: 24px;
  position: relative;
}
.how-we-work h2 {
  font-size: 38px;
  margin-top: 38px;
  line-height: 1.1;
  padding: 0 1rem;
}
.how-we-work img {
  position: absolute;
  top: 0;
  right: -1px;
}

.social-media {
  text-align: center;
  margin-top: 228px;
  position: relative;
}
.social-media__icons {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.social-media > img {
  position: absolute;
  top: -88px;
  left: 3px;
  z-index: -1;
}
.social-media hr {
  border: 1px solid #cabbca;
  margin: 36px auto 0;
  width: 87%;
}

footer {
  text-align: center;
  margin-top: 38px;
  font-weight: 800;
}

footer h3 {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 34px;
  color: var(--Dark-Grayish-Violet);
  font-family: "Karla", sans-serif;
}
footer a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 12px;
  color: var(--Very-Dark-Violet);
}

footer ul li:last-child a {
  margin-bottom: 38px;
}

/* media query for different views */

/* Desktop view */
@media (min-width: 1025px) {
  .header__logos {
    display: block;
  }
  button.hamburger-menu {
    display: none;
  }
  .header {
    display: flex;
    padding: 6px 0px 6px 146px;
    position: relative;
    background-color: #fff;
    z-index: 99;
  }
  .header__nav li {
    margin-bottom: 0px;
    font-size: 24px;
  }

  .header__nav li:last-child {
    padding: 0px;
    /* border: 2px solid #fff; */
  }
  img[src="images/bg-pattern-mobile-nav.svg"] {
    display: none;
  }
  .header__nav {
    display: block;
    height: auto;
    background-color: #fff;
    padding: 11px 16px;
  }
  .header__nav li:nth-child(3) {
    margin-bottom: 0;
  }
  .header__nav li:last-child {
    margin-left: -18px;
    padding: 4px 25px;
  }
  .header__nav li:last-child a {
    color: var(--Very-Dark-Violet);
    border: 2px solid #000;
    padding: 10px 22px;
  }
  .header__nav li a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    color: var(--Dark-Grayish-Violet);
    font-weight: 700;
  }
  .header__nav_list {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-left: 504px;
  }

  /* Hero section  */
  .hero-section {
    display: flex;
    flex-direction: row-reverse;
    padding: 103px 103px 0;
    gap: 3rem;
  }
  .hero-section__details {
    width: 53%;
    text-align: left;
    padding: 48px;
    margin-left: 0px;
    margin-top: 4px;
  }
  .hero-section__image-div {
    width: 50%;
    position: relative;
  }
  .hero-section__paragraph {
    width: 112%;
    margin-left: 6px;
    position: relative;
    top: 0px;
    left: -3px;
  }

  .hero-section__image-div img {
    position: absolute;
    top: 0;
    left: -20px;
  }
  h1 {
    font-size: 70px;
    margin-bottom: 2rem;
    text-align: left;
    position: relative;
    left: 16px;
    top: 8px;
    line-height: 67px;
  }
  .h1-small-line {
    display: block;
    border: 1px solid #cabbca;
    width: 151px;
    position: relative;
    top: -61px;
    left: -2px;
  }
  .hero-section__details a {
    margin-bottom: 77px;
    margin-left: 14px;
  }
  img[src="images/bg-pattern-intro-left-mobile.svg"],
  img[src="images/bg-pattern-intro-right-mobile.svg"] {
    display: none;
  }
  img[src="images/bg-pattern-intro-left-desktop.svg"],
  img[src="images/bg-pattern-intro-right-desktop.svg"] {
    display: block;
    position: absolute;
  }
  img[src="images/bg-pattern-intro-left-desktop.svg"] {
    left: 0;
    top: 427px;
  }
  img[src="images/bg-pattern-intro-right-desktop.svg"] {
    right: -18px;
    top: -82px;
    z-index: 1;
  }

  .features-section h2 {
    text-align: left;
    font-size: 68px;
    margin: 355px 0 16px 165px;
    letter-spacing: 1px;
  }
  .features-section {
    position: relative;
  }
  .features-section hr {
    border: 1px solid #cabbca;
    position: absolute;
    width: 150px;
    top: -186px;
    left: 165px;
  }
  .features-div,
  .features-div h3 {
    text-align: left;
  }
  .features-div {
    width: 30%;
  }
  .features-div:nth-child(2) {
    margin-left: -10px;
  }

  .feature-container-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-left: 162px;
}
.features-div p {
  padding: 18px 26px 0 0;
  
}
.features-div img {
  margin-top: -9px;
}
.features-div img[src="images/icon-snappy-process.svg"] {
  margin-top: -9px;
  margin-left: 3px;
}
.features-div img[src="images/icon-people-first.svg"]{
  /* margin-left: -16px; */
}
.feature-container-div .features-div:last-child{
  margin-left: -16px;
}

@media (min-width: 376px) and (max-width: 900px) {
  .hero-section img[src="images/image-intro-mobile.jpg"] {
    width: 100%;
  }
}
